# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/public/media/*
!/public/media/.gitkeep

# Editors
# (sensitive workspace files)
# ---------------------------

*.sublime-workspace
/.vscode
/.idea
/.nova

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Merx Orders
# ---------------------------

/content/**/order.txt
/content/**/order.*.txt

# Cache Files
# ---------------

/site/cache/*
!/site/cache/.gitkeep

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/.gitkeep

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/.gitkeep

# Logs
# ---------------

/site/logs/*
!/site/logs/.gitkeep

# License
# ---------------

/site/config/.license

# Other
# ---------------

/site/config/env.php
