node_modules
.ssh
.bash_history

/content/orders/**/order.txt
/public/media
/public/assets/fonts/*
/site/cache
/site/sessions
/site/accounts
/site/config/secrets
/site/plugins/site/.license-base
/site/config/.license