@use "sass:math";

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  color: $color--black;
  font-size: rem($font-size--standard);
  line-height: $line-height--standard;
  font-family: $font-family--system-font;
  // background-color: $color--lightgray-bg;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  align-content: center;

  &.is-overview {
    background-color: $color--lightgray-bg;
  }

  code {
    font-family: $font-family--system-mono;
    font-size: math.div($font-size--code, $font-size--standard) * 1em;

    a {
      text-decoration: none;
    }
  }

  > .center {
    box-sizing: border-box;
    max-width: rem($max-width + 16 * 2);
    width: 100%;
    padding-left: rem(16);
    padding-right: rem(16);
    margin-bottom: auto;
  }

  @media (min-width: em($bp-offscreen-nav)) {
    > .center {
      display: flex;
      align-items: baseline;
      flex: 1;
      justify-content: space-between;
    }
  }

  @media (min-width: em($bp-fixed-nav)) {
    padding-top: rem($height--header);

    @media print {
      padding-top: 0;
    }
  }
}
