.mainnav {
  display: flex;
  margin-left: auto;
  font-size: rem($font-size--standard);
  font-family: $font-family--system-font;
  color: $color--white;

  ul {
    display: flex;
    list-style: none;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    align-items: stretch;
    justify-content: center;
  }

  a {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    margin-right: rem(8);
    margin-left: rem(8);
    padding-top: rem(4);
    padding-left: rem(4);
    padding-right: rem(4);
    text-decoration: none;
    border-top: rem(8) solid transparent;
    border-bottom: rem(4) solid transparent;

    &:focus,
    &:hover {
      color: $color--white;
    }

    &.is-active {
      border-bottom-color: $color--white;
    }
  }

  @media (max-width: em($bp-fixed-nav - 1)) {
    order: 1;
    flex-basis: 100%;
    margin-right: auto;
    padding-left: rem(4);
    padding-right: rem(4);
  }

  @media (max-width: em($bp-small-padding - 1)) {
    ul {
      justify-content: space-around;
    }
    a {
      margin-left: rem($padding-small * 0.5);
      margin-right: rem($padding-small * 0.5);
    }
  }
}


.mainnav .mainnav__steps {
  margin-left: rem(12);
  margin-right: rem(10);
  font-weight: 600;
  li:not(:last-of-type) {
    position: relative;
    &::after {
      content: "\203A";
      position: absolute;
      top: rem(20);
      right: rem(-4);
    }
  }

  @media (max-width: em($bp-fixed-nav - 1)) {
    position: absolute;
    top: rem(2);
    right: rem(48);
    height: rem(42);

    li:not(:last-of-type) {
      &::after {
        top: rem(11);
      }
    }
  }
  @media (max-width: em($bp-small-padding)) {
    right: rem(40);
  }
}

