/** a or code element */
.a-type {
	--_color-background: var(--color-background-tertiary);
	--_color-border: hsl(from var(--_color-background) h calc(s - 5) calc(l - 10));

	display: inline-flex;
	gap: var(--size-50);
	border-radius: var(--border-radius-small);
	padding-block: var(--size-50);
	padding-inline: var(--size-150);
	font: var(--font-code-small);
	border: var(--border-size-xsmall) solid var(--_color-border);
	border-radius: var(--border-radius-xsmall);
	background-color: var(--_color-background);

	&:where([data-type="class"], [data-type="object"]) {
		--_color-background: var(--color-green-200);
	}
	&:where([data-type="bool"]) {
		--_color-background: var(--color-purple-150);
	}
	&:where([data-type="null"]) {
		--_color-background: var(--color-purple-100);
	}
	&:where([data-type="int"]) {
		--_color-background: var(--color-orange-150);
	}
	&:where([data-type="float"], [data-type="number"]) {
		--_color-background: var(--color-red-150);
	}
	&:where([data-type="string"]) {
		--_color-background: var(--color-yellow-200);
	}
	&:where([data-type="array"], [data-type="callable"]) {
		--_color-background: var(--color-turquoise-150);
	}

	&:where(a) {
		text-decoration: none;

		&:where(:focus-visible, :hover) {
			background-color: hsl(from var(--_color-background) h s calc(l - 3));
		}
	}
}
