/** a or code element */
.a-type {
	--_background-color: var(--color-background-tertiary);
	--_border-color: hsl(from var(--_background-color) h calc(s - 5) calc(l - 7));
	--_padding-inline: calc(var(--size-150) - var(--border-size-xsmall));

	display: inline-flex;
	gap: var(--_padding-inline);
	padding-inline: var(--_padding-inline);
	font: var(--font-code-small);
	border: var(--border-size-xsmall) solid var(--_border-color);
	border-radius: var(--border-radius-xsmall);
	background-color: var(--_background-color);

	&:where([data-type="class"], [data-type="object"]) {
		--_background-color: var(--color-green-200);
	}
	&:where([data-type="bool"]) {
		--_background-color: var(--color-purple-150);
	}
	&:where([data-type="null"]) {
		--_background-color: var(--color-purple-100);
	}
	&:where([data-type="int"]) {
		--_background-color: var(--color-orange-150);
	}
	&:where([data-type="float"], [data-type="number"]) {
		--_background-color: var(--color-red-150);
	}
	&:where([data-type="string"]) {
		--_background-color: var(--color-yellow-200);
	}
	&:where([data-type="array"], [data-type="callable"]) {
		--_background-color: var(--color-blue-150);
	}

	&:where(a) {
		text-decoration: none;

		&:where(:focus-visible, :hover) {
			background-color: hsl(from var(--_background-color) h s calc(l - 3));
		}
	}
}
