.doc {
  max-width: rem(672);
  flex-basis: rem(672);
  flex-grow: 0;
  flex-shrink: 1;
  margin-left: auto;
  margin-right: auto;

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: $line-height--heading;
  }

  h1 {
    margin-top: rem(50);
    font-size: rem($font-size--h3);
    font-weight: 400;
  }

  h2 {
    margin: 0;
    margin-top: rem(90);
    margin-bottom: rem($padding);
    font-size: rem($font-size--h4);
    line-height: $line-height--heading;
    font-weight: 400;
  }

  @media (max-width: em($bp-small-padding - 1)) {
    h1,
    h2 {
      hyphens: auto;
    }
  }
}
