.form-checkout {
  display: flex;
  max-width: rem(528);
  margin-top: rem(60);
  padding: rem(60) rem(48);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: rem(1) solid $color--lightgray;
  background-color: $color--lightgray-bg;

  h3 {
    margin-top: rem(40);
    margin-bottom: 0;
    font-size: rem($font-size--big);

    &:first-child {
      margin-top: 0;
    }
  }

  label {
    flex-basis: 100%;
    flex-shrink: 0;
    display: block;
    margin-top: rem(20);

    > strong {
      font-weight: 400;
    }

    &[hidden] {
      display: none;
    }

    &.has-radio {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .error {
        flex-basis: 100%;
      }
    }
  }

  .StripeElement,
  select,
  input {
    @extend %input;
    width: 100%;
  }


  .StripeElement,
  .select-wrapper,
  input {
    margin-top: rem(4);
    width: 100%;
  }

  .select-wrapper {
    position: relative;

    select {
      margin-top: 0;
    }

    &::after {
      content: '';
      position: absolute;
      right: rem(12);
      top: rem(17);
      border-left: rem(5) solid transparent;
      border-right: rem(5) solid transparent;
      border-top: rem(6) solid $color--black;
    }
  }

  input {
    &[type="checkbox"],
    &[type="radio"] {
      height: rem(24);
      width: rem(24);
      margin-right: rem($padding * 0.5);
      padding: 0;
      background-repeat: no-repeat;
      background-position: center;
    }

    &[type="checkbox"] {
      &:checked {
        background-image: url(../images/checkmark.svg);
        background-position: center;
      }
    }

    &[type="radio"] {
      margin-left: rem(-2);
      border-radius: rem(24 * 0.5);

      &:checked {
        background-image: radial-gradient($color--black 35%, $color--white 35%);
        background-position: center;
      }
    }
  }

  button {
    @extend %button;
  }

  .StripeElement {
    height: rem(38);
    padding-top: rem(9);
  }

  .error {
    color: $color--red;
  }

  small {
    display: block;
    margin-top: rem(10);
    font-size: rem($font-size--small);
  }

  &.is-loading {
    button {
      color: transparent;
      &::after {
        opacity: 1;
      }
    }
  }

  @media (min-width: em(624)) {
    label {
      &.is-1-3 {
        flex-basis: calc(33.33% - #{rem($padding)});
      }

      &.is-2-3 {
        flex-basis: calc(66.66% - #{rem($padding)});
      }
    }
  }

  @media (min-width: em(1024)) {
    margin-right: auto;
  }

  @media (max-width: em(416)) {
    padding-left: rem($padding);
    padding-right: rem($padding);
  }
}


.form-checkout__payment-method {
  margin-top: rem(15);
  margin-bottom: rem(-10);
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: stretch;

  label {
    box-sizing: border-box;
    flex-basis: auto;
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: rem(10);
    padding-right: rem(24);
  }
}


.form-checkout__payment-fields {
  margin-bottom: rem(5);
  flex-basis: 100%;
}


.form-checkout__submit {
  margin-top: rem(30);
}