.header {
  position: relative;
  // display: flex;
  // flex-basis: 100%;
  background-color: $color--black;
  padding-left: rem($padding);
  padding-right: rem($padding);

  h1 {
    margin: 0;
    align-items: center;

    a {
      display: flex;
      height: 100%;
      align-items: center;
      padding-left: rem(16);
      padding-right: rem(16);
    }
  }

  .center {
    display: flex;
    max-width: rem($max-width + 16 * 2);
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    min-height: rem(60);
  }

  @media (min-width: em($bp-fixed-nav)) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    height: rem($height--header);
  }

  @media (max-width: em($bp-small-padding - 1)) {
    padding-left: rem($padding-small * 0.5);
    padding-right: rem($padding-small * 0.5);

    h1 {
      a {
        padding-left: rem($padding-small * 0.5);
        padding-right: rem($padding-small * 0.5);
      }
    }
  }

  @media print {
    display: none;
  }
}
