.m-callout {
	padding: calc(var(--size-500) - var(--border-size-medium));
	font: var(--font-paragraph-large);
	font-weight: 500;
	border-radius: var(--border-radius-small);
	border: var(--border-size-medium) solid var(--color-blue-400);
	background-color: var(--color-blue-50);

	&[data-theme="tip"] {
		border-color: var(--color-green-500);
		background-color: var(--color-green-50);
	}
	&[data-theme="important"] {
		border-color: var(--color-purple-500);
		background-color: var(--color-purple-50);
	}
	&[data-theme="warning"] {
		border-color: var(--color-orange-500);
		background-color: var(--color-orange-50);
	}
	&[data-theme="caution"] {
		border-color: var(--color-red-500);
		background-color: var(--color-red-50);
	}

	.m-text > & {
		margin-inline: calc(var(--border-size-small) * -0.5);
	}
}
