/* PrismJS 1.30.0
https://prismjs.com/download#themes=prism-dark&languages=markup+css+clike+javascript */
/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */

.m-code {
	color: var(--color-white);
	font: var(--font-code-medium);
	overflow: auto;
	border: var(--border-size-small) solid var(--color-black);
	border-radius: var(--border-radius-small);
	background-color: var(--color-background-primary-inverse);

	> figcaption {
		padding-block: var(--size-200);
		padding-inline: var(--size-400);
		color: var(--color-content-secondary-inverse);
		border-block-end: var(--border-small-tertiary-inverse);
	}

	pre {
		padding: var(--size-400);
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		tab-size: 2;
		hyphens: none;
		font: inherit;
	}

	code {
		font: inherit;
	}

	/** @todo Improve colors similar to https://github.com/getkirby/getkirby.com/blob/e6352626f704531b9981f60ae69ea2a2c7b005e8/assets/css/site/code.css */
	.token.class-name,
	.token.scope {
		color: var(--color-green-400);
	}

	.token.function {
		color: var(--color-blue-300);
	}

	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: var(--color-gray-150);
	}

	.token.punctuation {
		color: var(--color-gray-150);
	}

	.token.namespace {
		opacity: .7;
	}

	.token.boolean,
	.token.atrule,
	.token.keyword {
		color: var(--color-purple-300);
	}

	.token.attr-value {
		color: var(--color-green-400);
	}

	.token.null {
		color: var(--color-purple-200);
	}

	.token.property,
	.token.tag,
	.token.number,
	.token.constant,
	.token.symbol,
	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.token.variable,
	.token.key {
		color: var(--color-red-200);
	}

	.token.deleted {
		color: var(--color-red-500);
	}

	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted {
		color: var(--color-yellow-400);
	}

	.token.regex,
	.token.important {
		color: var(--color-orange-400);
	}

	.token.bold {
		font-weight: bold;
	}
	.token.italic {
		font-style: italic;
	}

	.token.entity {
		cursor: help;
	}

	.m-text > & {
		margin-inline: calc(var(--border-size-small) * -0.5);
	}
}


