.m-nav-main {
	display: flex;

	> ul {
		display: flex;
	}
}

.m-nav-main__steps {
	li + li {
		display: flex;
		align-items: center;

		&:before {
			content: '›';
			color: var(--color-content-secondary);
		}
	}
}
