.m-nav-sidebars {
	@media not (min-width: 64em) {
		--_inset-block-start: calc(var(--height-header) + calc(44rem / 16));

		overflow: auto;
		inset-block-start: calc(var(--_inset-block-start) + var(--border-size-small));
		inset-inline-start: auto;
		inset-inline-end: calc(var(--gap-inline));
		max-inline-size: calc(100% - (var(--gap-inline) * 2));
		min-inline-size: 50%;
		border-inline-end: var(--border-size-small) solid var(--color-border-tertiary);
		block-size: calc(100% - var(--_inset-block-start));
		background: var(--background-root);

		&::before {
			content: '';
			position: fixed;
			z-index: -1;
			inset-block: 0;
			inline-size: var(--border-size-small);
			background-color: var(--color-border-tertiary);
		}

		&::before {
			inset-inline-start: var(--gap-inline);
		}

		> div {
			block-size: 100%;
			padding-inline-start: var(--border-size-small);
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
		}

		&::backdrop {
			border-block-start: var(--border-size-small) solid var(--color-border-tertiary);
			inset-block-start: var(--_inset-block-start);
			background-color: var(--background-color-backdrop);
			backdrop-filter: var(--backdrop-filter);
		}
	}

	@media (min-width: 64em) {
		> div {
			block-size: 100%;
			padding-inline-start: var(--border-size-small);
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
		}
	}
}
