.m-nav-secondary {
	margin-inline-start: calc(3rem / -16);
	padding-inline-start: calc(3rem / 16);
	max-block-size: calc(100vh - var(--height-header));
	padding-block: var(--size-300);
	border-inline-end: var(--border-size-small) solid var(--color-border-tertiary);
	overflow: auto;
}
.m-nav-secondary + .m-nav-secondary {
	position: relative;
}
