.m-search-dialog {
	position: fixed;
	inset-block-start: var(--height-header);
	width: auto;
	height: auto;
	padding-block-start: calc(var(--gap-block) - var(--border-size-small) * 0.5);
	display: none;
	background-color: transparent;

	> div {
		overflow: auto;
		max-block-size: 100%;
		padding-block-end: var(--size-1000);
		padding-inline: calc(var(--gap-inline) + var(--size-400));
		pointer-events: none;

		> * {
			pointer-events: auto;
		}
	}

	&:popover-open {
		display: block;
	}

	&::backdrop {
		inset-block-start: var(--height-header);
		background-color: var(--background-color-backdrop);
		backdrop-filter: var(--backdrop-filter);
	}
}
