.m-text {
	/* Caution: default size is large (not medium) */
	font: var(--font-paragraph-large);

	/* Child elements */
	> h1 {
		font: var(--font-heading-large);
	}
	> h2 {
		font: var(--font-heading-medium);
	}
	> h3 {
		font: var(--font-heading-small);
	}
	> h4 {
		font: var(--font-heading-xsmall);
	}

	> :is(h2, h3, h4) {
		text-wrap-style: pretty;

		/* Anchor links */
		> a[href^="#"] {
			display: inline-flex;
			align-items: baseline;
			text-decoration: none;

			&::before {
				content: '#';
				display: block;
				margin-inline-start: -1.5ch;
				inline-size: 1.5ch;
				font-feature-settings: "c2sc";
				color: var(--color-content-tertiary);
				pointer-events: none;
				opacity: 0;
				transition-property: opacity;
				transition-duration: var(--duration-medium);
			}

			&:where(:focus-visible, :hover) {
				&::before {
					pointer-events: auto;
					opacity: 1;
					transition-delay: var(--duration-xsmall);
				}
			}
		}
	}

	> :where(ul, ol) {
		padding-inline-start: 2ch;
		text-wrap-style: pretty;
		ul {
			list-style-type: disc;
		}
		> li :where(ul, ol) {
			margin-block-start: calc(var(--gap-text-paragraph) * 0.5);
			padding-inline-start: 2ch;
		}
		* + :where(ul, ol, li) {
			margin-block-start: calc(var(--gap-text-paragraph) * 0.5);
		}
	}

	/* elements, that are not child of another molecule or atom */
	&, *:not([class^="m-"], [class^="a-"]) {
		a {
			text-decoration-color: hsl(from var(--color-border-brand) h s l / 0.7);
		}
	}

	/* Modifications */
	&[data-size="xlarge"] {
		font: var(--font-paragraph-xlarge);
		text-wrap-style: pretty;
	}
	&[data-size="large"] {
		font: var(--font-paragraph-large);
		text-wrap-style: pretty;
	}
	&[data-size="medium"] {
		font: var(--font-paragraph-medium);
	}
	&[data-size="small"] {
		font: var(--font-paragraph-small);
	}
	&[data-size="xsmall"] {
		font: var(--font-paragraph-xsmall);
	}

	/* Stack */
	> * + * {
		margin-block-start: var(--gap-text-paragraph);
	}
	> :where([class^="m-"]) + *,
	> * + :where([class^="m-"]) {
		margin-block-start: var(--size-600);
	}
	> * + :where(h2) {
		margin-block-start: var(--size-800);
	}
	> * + :where(h3) {
		margin-block-start: var(--size-700);
	}
	> * + :where(h4) {
		margin-block-start: var(--size-600);
	}
}

.a-display + .m-text {
	margin-block-start: var(--gap-text-paragraph);
}
