.o-checkout {
	z-index: var(--z-index-main-wrapper);
	inline-size: 100%;
	padding-inline: var(--gap-inline);
	border-block-end: var(--border-small-tertiary);
	background: inherit;
}

.o-checkout__box {
	max-inline-size: var(--max-width-content);
	margin-inline: auto;
	padding-inline: var(--gap-inline);
}
