.o-header {
	z-index: var(--z-index-header);
	position: sticky;
	inset-block-start: 0;
	block-size: var(--height-header);
	border-block-end: var(--border-size-small) solid var(--color-border-tertiary);
	padding-inline: var(--gap-inline);
	background: inherit;
}

.o-header__center {
	block-size: 100%;
	max-inline-size: calc(var(--max-width-content) + var(--border-size-small));
	margin-inline: auto;
	border-inline: var(--border-size-small) solid var(--color-border-tertiary);
	display: grid;
	grid-template-columns: 1fr auto auto;
	justify-items: start;
	align-items: end;

	@media (min-width: 64em) {
		align-items: stretch;
	}
}
