.o-hero {
	max-inline-size: calc(var(--max-width-content) + var(--border-size-small));
	margin-inline: auto;
	border-inline: var(--border-size-small) solid var(--color-border-tertiary);
	border-block-end: var(--border-size-small) solid var(--color-border-tertiary);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.o-hero__copy {
	padding-block: var(--size-900);
	padding-inline-start: calc(var(--size-1000) - var(--border-size-small));
	padding-inline-end: calc(var(--size-400) - var(--border-size-small));
	display: grid;
	row-gap: var(--size-600);
	align-items: start;
	align-content: start;
}

.o-hero__buttons {
	display: flex;
	column-gap: var(--size-500);

	> div {
		display: grid;
		justify-items: start;
		row-gap: var(--size-100);
	}
}

.o-hero__image {
	> a {
		display: block;
	}
	> a > img {
		inline-size: 100%;
	}
}
