.o-main-wrapper {
	z-index: var(--z-index-main-wrapper);
	inline-size: 100%;
	padding-inline: var(--gap-inline);
	border-block-end: var(--border-small-tertiary);
	background: inherit;

	> div {
		max-inline-size: calc(var(--max-width-content) + var(--border-size-small));
		min-block-size: calc(100vh - var(--height-header));
		margin-inline: auto;
		border-inline: var(--border-size-small) solid var(--color-border-tertiary);
	}

	@media (min-width: 64em) {
		> div {
			display: grid;
			grid-template-columns:
				calc(260rem / 16)
				1fr;
		}

		&[data-layout="ref"] {
			> div {
				grid-template-columns:
					calc(2 * 280rem / 16)
					1fr;
			}
		}
	}
}
