/* Foundation */
@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes rotate {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}
:root {
	--border-xsmall-primary: var(--border-size-xsmall) solid var(--color-border-primary);
	--border-xsmall-secondary: var(--border-size-xsmall) solid var(--color-border-secondary);
	--border-xsmall-tertiary: var(--border-size-xsmall) solid var(--color-border-tertiary);
	--border-small-primary: var(--border-size-small) solid var(--color-border-primary);
	--border-small-primary-inverse: var(--border-size-small) solid var(--color-border-primary-inverse);
	--border-small-secondary: var(--border-size-small) solid var(--color-border-secondary);
	--border-small-secondary-inverse: var(--border-size-small) solid var(--color-border-secondary-inverse);
	--border-small-tertiary: var(--border-size-small) solid var(--color-border-tertiary);
	--border-small-tertiary-inverse: var(--border-size-small) solid var(--color-border-tertiary-inverse);
}
/* Naming of colors and fonts inspired by Uber Base (https://base.uber.com/6d2425e9f/p/8898fb-color-legacy/b/065744) */
:root {
	/* Color Primitives */
	--color-white: hsl(0 0% 100%);
	--color-gray-20: hsl(0 0% 97.5%);
	--color-gray-100: hsl(0 0% 92%);
	--color-gray-150: hsl(0 0% 89%);
	--color-gray-200: hsl(0 0% 83%);
	--color-gray-300: hsl(0 0% 70%);
	--color-gray-400: hsl(0 0% 60%);
	--color-gray-500: hsl(0 0% 50%);
	--color-gray-600: hsl(0 0% 40%);
	--color-gray-700: hsl(0 0% 33%);
	--color-gray-800: hsl(0 0% 23%);
	--color-gray-900: hsl(0 0% 13%);
	--color-gray-950: hsl(0 0% 8%);
	--color-black: hsl(0 0% 2%);

	--color-red-20: hsl(0 64% 97%);
	--color-red-50: hsl(0 64% 95%);
	--color-red-100: hsl(0 64% 90%);
	--color-red-150: hsl(0 64% 85%);
	--color-red-200: hsl(0 64% 80%);
	--color-red-300: hsl(0 64% 70%);
	--color-red-400: hsl(0 60% 60%);
	--color-red-500: hsl(0 64% 50%);
	--color-red-600: hsl(0 64% 40%);
	--color-red-700: hsl(0 64% 30%);
	--color-red-800: hsl(0 64% 20%);
	--color-red-900: hsl(0 64% 10%);

	--color-orange-50: hsl(37 70% 95%);
	--color-orange-100: hsl(37 70% 90%);
	--color-orange-150: hsl(37 70% 83%);
	--color-orange-200: hsl(37 70% 80%);
	--color-orange-300: hsl(37 70% 70%);
	--color-orange-400: hsl(37 70% 60%);
	--color-orange-500: hsl(37 70% 50%);
	--color-orange-600: hsl(37 70% 40%);
	--color-orange-700: hsl(37 70% 30%);
	--color-orange-800: hsl(37 70% 20%);
	--color-orange-900: hsl(37 70% 10%);

	--color-yellow-50: hsl(60 80% 95%);
	--color-yellow-100: hsl(60 80% 90%);
	--color-yellow-150: hsl(60 80% 85%);
	--color-yellow-200: hsl(60 80% 80%);
	--color-yellow-300: hsl(60 80% 70%);
	--color-yellow-400: hsl(60 80% 60%);
	--color-yellow-500: hsl(60 80% 50%);
	--color-yellow-600: hsl(60 80% 40%);
	--color-yellow-700: hsl(60 80% 30%);
	--color-yellow-800: hsl(60 80% 20%);
	--color-yellow-900: hsl(60 80% 10%);

	--color-green-50: hsl(79 35% 95%);
	--color-green-100: hsl(82 35% 90%);
	--color-green-150: hsl(85 50% 85%);
	--color-green-200: hsl(88 36% 80%);
	--color-green-300: hsl(91 36% 70%);
	--color-green-400: hsl(94 37% 60%);
	--color-green-500: hsl(97 37% 50%);
	--color-green-600: hsl(100 38% 40%);
	--color-green-700: hsl(102 39% 30%);
	--color-green-800: hsl(103 64% 22%); /* brand green #285A14 */
	--color-green-900: hsl(103 65% 11%);

	--color-turquoise-50: hsl(170 58% 95%);
	--color-turquoise-100: hsl(170 58% 90%);
	--color-turquoise-150: hsl(170 58% 83%);
	--color-turquoise-200: hsl(170 58% 80%);
	--color-turquoise-300: hsl(170 58% 70%);
	--color-turquoise-400: hsl(170 58% 60%);
	--color-turquoise-500: hsl(170 58% 50%);
	--color-turquoise-600: hsl(170 58% 40%);
	--color-turquoise-700: hsl(170 58% 30%);
	--color-turquoise-800: hsl(170 58% 20%);
	--color-turquoise-900: hsl(170 58% 10%);

	--color-blue-50: hsl(210 58% 95%);
	--color-blue-100: hsl(210 58% 90%);
	--color-blue-150: hsl(210 58% 83%);
	--color-blue-200: hsl(210 58% 80%);
	--color-blue-300: hsl(210 58% 70%);
	--color-blue-400: hsl(210 58% 60%);
	--color-blue-500: hsl(210 58% 50%);
	--color-blue-600: hsl(210 58% 40%);
	--color-blue-700: hsl(210 58% 30%);
	--color-blue-800: hsl(210 58% 20%);
	--color-blue-900: hsl(210 58% 10%);

	--color-purple-50: hsl(285 67% 95%);
	--color-purple-100: hsl(285 67% 91%);
	--color-purple-150: hsl(285 67% 83%);
	--color-purple-200: hsl(285 67% 80%);
	--color-purple-300: hsl(285 67% 70%);
	--color-purple-400: hsl(285 67% 60%);
	--color-purple-500: hsl(285 67% 50%);
	--color-purple-600: hsl(285 67% 40%);
	--color-purple-700: hsl(285 67% 30%);
	--color-purple-800: hsl(285 67% 20%);
	--color-purple-900: hsl(285 67% 10%);

	/* Foundation Colors */
	--color-brand: #285A14;
	--color-negative: var(--color-red-400);
	--color-warning: var(--color-yellow-400);
	--color-positive: var(--color-green-400);

	/* Core Colors */
	--color-background-primary: var(--color-gray-20);
	--color-background-secondary: var(--color-white);
	--color-background-tertiary: var(--color-gray-100);
	--color-background-primary-inverse: var(--color-gray-900);
	--color-background-secondary-inverse: var(--color-gray-700);
	--color-background-brand: hsl(from var(--color-brand) h calc(s - 40) calc(l + 65));

	--color-content-primary: var(--color-gray-900);
	--color-content-secondary: var(--color-gray-600);
	--color-content-tertiary: var(--color-gray-500);
	--color-content-primary-inverse: var(--color-white);
	--color-content-secondary-inverse: var(--color-gray-200);
	--color-content-tertiary-inverse: var(--color-gray-400);

	--color-backdrop: hsl(from var(--color-black) h s l / 0.1);

	--color-border-primary: var(--color-gray-700);
	--color-border-primary-inverse: var(--color-gray-200);
	--color-border-secondary: var(--color-gray-150);
	--color-border-secondary-inverse: var(--color-gray-500);
	--color-border-tertiary: var(--color-white);
	--color-border-tertiary-inverse: var(--color-gray-800);
	--color-border-brand: hsl(from var(--color-brand) h calc(s + 5) calc(l + 5));

	/* Shadows */
	--box-shadow: 0 1px 10px -calc(10rem / 16) hsl(0deg 0 0 / 0.1),
	              0 1.5px 20px -calc(10rem / 16) hsl(0deg 0 0 / 0.1),
	              0 2px 30px -calc(10rem / 16) hsl(0deg 0 0 / 0.1); /* used for underline and border highlight (a-nav-item-sidebar) */
}
@media (prefers-color-scheme: dark) {
:root {
		/** @todo */
}
	}
:root [data-theme="dark"] {
		/* same as @media (prefers-color-scheme: dark) */
	}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 100;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Thin.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 100;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Thin.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 100;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Thin_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 100;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Thin_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 200;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraLight.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 200;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraLight.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 200;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraLight_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 200;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraLight_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 300;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Light.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 300;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Light.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 300;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Light_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 300;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Light_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Regular.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 400;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 400;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 450;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Normal.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 450;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Normal.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 450;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Normal_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 450;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Normal_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Medium.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 500;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Medium.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 500;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Medium_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 500;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Medium_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 600;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_DemiBold.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 600;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_DemiBold.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 600;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_DemiBold_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 600;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_DemiBold_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 700;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Bold.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 700;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Bold.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 700;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Bold_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 700;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Bold_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 800;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraBold.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 800;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraBold.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 800;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraBold_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 800;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraBold_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 900;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Black.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 900;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Black.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 900;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Black_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 900;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_Black_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: normal;
	font-weight: 950;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraBlack.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: normal;
	font-weight: 950;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraBlack.woff2') format('woff2');
	unicode-range: U+004D;
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms';
	font-style: italic;
	font-weight: 950;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraBlack_Italic.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'TT Norms M';
	font-style: italic;
	font-weight: 950;
	src: url('/assets/fonts/tt-norms/TT_Norms_Pro_ExtraBlack_Italic.woff2') format('woff2');
	unicode-range: U+004D;
}
:root {
	--duration-xsmall: 0s;
	--duration-small: 0s;
	--duration-medium: 0s;
	--duration-large: 0s;
	--duration-xlarge: 0s;
	--duration-rotate-loader: 0s;

	--ease-out: cubic-bezier(0.215, 0.610, 0.275, 1.000);
}
@media (prefers-reduced-motion: no-preference) {
:root {
		--duration-xsmall: 120ms;
		--duration-small: 160ms;
		--duration-medium: 200ms;
		--duration-large: 400ms;
		--duration-xlarge: 550ms;
		--duration-rotate-loader: 1000ms;
}
	}
* {
	margin: 0;
	padding: 0;
}
html {
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
	color-scheme: dark light;
	box-sizing: border-box;
}
html *, html *::before, html *::after {
		box-sizing: inherit;
	}
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
body {
	min-block-size: 100%;
	min-block-size: 100dvb;
}
dialog {
	margin: auto;
	border: 0;
}
[popover] {
	border: 0;
}
a {
	color: inherit;
	text-underline-offset: 0.2ex;
}
picture, video, canvas, audio, iframe, embed, object, summary {
	display: block;
}
img, svg {
	vertical-align: middle;
}
img, picture, svg {
	max-inline-size: 100%;
	block-size: auto;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}
iframe, fieldset {
	border: 0;
}
button {
	text-align: start;
}
button, summary {
	border: 0;
	cursor: pointer;
}
label {
	display: block;
}
input,
textarea,
button {
	font: inherit;
	line-height: inherit;
	color: inherit;
	border-radius: 0;
	border-width: 1px;
	border-style: solid;
	background-color: transparent;
}
input[type="date"],
input[type="time"] {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	/* ::-webkit-calendar-picker-indicator {
		display: none;
	} */
}
input[type="date"]::-webkit-date-and-time-value, input[type="time"]::-webkit-date-and-time-value {
		text-align: inherit;
	}
textarea {
	resize: vertical;
	resize: block;
}
hr {
	border: none;
	-webkit-border-before: 1px solid currentcolor;
	        border-block-start: 1px solid currentcolor;
	color: inherit;
	block-size: 0;
	overflow: visible;
}
table {
	border-collapse: collapse;
}
nav ul {
	list-style: none;
}
:disabled, [aria-disabled="true"] {
	cursor: not-allowed;
}
:focus-visible {
	outline: 2px solid Highlight;
	outline-offset: 2px;
}
[hidden]:not([hidden="until-found"]) {
	display: none !important;
}
/**
 * Each size should divide by 4.
 */
:root {
	--size-10: calc(1rem / 16);
	--size-50: calc(2rem / 16);
	--size-100: calc(4rem / 16);
	--size-150: calc(6rem / 16);
	--size-200: calc(8rem / 16);
	--size-250: calc(10rem / 16);
	--size-300: calc(12rem / 16);
	--size-400: calc(16rem / 16);
	--size-500: calc(20rem / 16);
	--size-600: calc(28rem / 16);
	--size-700: calc(40rem / 16);
	--size-800: calc(56rem / 16);
	--size-900: calc(80rem / 16);
	--size-1000: calc(140rem / 16);

	/* Grid */
	--gap-inline: var(--size-500);
	--gap-block: var(--size-500);
	--gap-block-header: var(--size-700);
	--gap-text-paragraph: var(--size-400);
	--gap-text-heading: var(--size-800);

	/* Sizes */
	--max-width-content: calc(1380rem / 16);
	--max-width-text: calc(660rem / 16);

	--height-header: calc(60rem / 16);

	/* Z-index */
	--z-index-main-wrapper: 20;
	--z-index-dialog: 90;
	--z-index-header: 100;
	/* Use px values instead of rem */
	--border-size-xsmall: 1px;
	--border-size-small: 2px;
	--border-size-medium: 4px;
	--border-radius-xsmall: 1px;
	--border-radius-small: 2px;
	--border-radius-medium: 4px;
	--border-radius-large: 8px;

	/* Border */
}
@media (min-width: 94em) {
:root {
		--max-width-content: calc(1500rem / 16);
}
	}
/**
 * Each size should divide by 4.
 */
:root {
	/* Font family */
	--font-family: 'TT Norms M', 'TT Norms', Avenir, sans-serif;
	--font-family-code: ui-monospace, monospace;


	/* Font size */
	--font-size-heading-xxlarge: calc(40rem / 16);
	--font-size-heading-xlarge: calc(37rem / 16);
	--font-size-heading-large: calc(32rem / 16);
	--font-size-heading-medium: calc(29rem / 16);
	--font-size-heading-small: calc(24rem / 16);
	--font-size-heading-xsmall: calc(20rem / 16);
	--font-size-heading-xxsmall: calc(16rem / 16);

	--font-size-label-large: calc(18rem / 16);
	--font-size-label-medium: calc(16rem / 16);
	--font-size-label-small: calc(14rem / 16);
	--font-size-label-xsmall: calc(12rem / 16);

	--font-size-paragraph-xlarge: calc(23rem / 16);
	--font-size-paragraph-large: calc(18rem / 16);
	--font-size-paragraph-medium: calc(16rem / 16);
	--font-size-paragraph-small: calc(14rem / 16);
	--font-size-paragraph-xsmall: calc(12rem / 16);

	--font-size-code-large: calc(17rem / 16);
	--font-size-code-medium: calc(15rem / 16);
	--font-size-code-small: calc(14rem / 16);

	/* Line height */
	--line-height-heading-xxlarge: calc(40 / 40);
	--line-height-heading-xlarge: calc(40 / 37);
	--line-height-heading-large: calc(36 / 32);
	--line-height-heading-medium: calc(32 / 29);
	--line-height-heading-small: calc(28 / 24);
	--line-height-heading-xsmall: calc(24 / 20);
	--line-height-heading-xxsmall: calc(20 / 16);

	--line-height-label-large: calc(24 / 18);
	--line-height-label-medium: calc(20 / 16);
	--line-height-label-small: calc(16 / 14);
	--line-height-label-xsmall: calc(16 / 12);

	--line-height-paragraph-xlarge: calc(28 / 23);
	--line-height-paragraph-large: calc(28 / 18);
	--line-height-paragraph-medium: calc(24 / 16);
	--line-height-paragraph-small: calc(20 / 14);
	--line-height-paragraph-xsmall: calc(16 / 12);

	--line-height-code-large: calc(28 / 17);
	--line-height-code-medium: calc(24 / 15);
	--line-height-code-small: calc(20 / 13);

	/* Font */
	--font-heading-xxlarge: 700 var(--font-size-heading-xxlarge)/var(--line-height-heading-xxlarge) var(--font-family);
	--font-heading-xlarge: 700 var(--font-size-heading-xlarge)/var(--line-height-heading-xlarge) var(--font-family);
	--font-heading-large: 700 var(--font-size-heading-large)/var(--line-height-heading-large) var(--font-family);
	--font-heading-medium: 700 var(--font-size-heading-medium)/var(--line-height-heading-medium) var(--font-family);
	--font-heading-small: 700 var(--font-size-heading-small)/var(--line-height-heading-small) var(--font-family);
	--font-heading-xsmall: 700 var(--font-size-heading-xsmall)/var(--line-height-heading-xsmall) var(--font-family);
	--font-heading-xxsmall: 700 var(--font-size-heading-xxsmall)/var(--line-height-heading-xxsmall) var(--font-family);

	--font-label-large: 450 var(--font-size-label-large)/var(--line-height-label-large) var(--font-family);
	--font-label-medium: 450 var(--font-size-label-medium)/var(--line-height-label-medium) var(--font-family);
	--font-label-small: 450 var(--font-size-label-small)/var(--line-height-label-small) var(--font-family);
	--font-label-xsmall: 450 var(--font-size-label-xsmall)/var(--line-height-label-xsmall) var(--font-family);

	--font-paragraph-xlarge: 450 var(--font-size-paragraph-xlarge)/var(--line-height-paragraph-xlarge) var(--font-family);
	--font-paragraph-large: 450 var(--font-size-paragraph-large)/var(--line-height-paragraph-large) var(--font-family);
	--font-paragraph-medium: 450 var(--font-size-paragraph-medium)/var(--line-height-paragraph-medium) var(--font-family);
	--font-paragraph-small: 450 var(--font-size-paragraph-small)/var(--line-height-paragraph-small) var(--font-family);
	--font-paragraph-xsmall: 450 var(--font-size-paragraph-xsmall)/var(--line-height-paragraph-xsmall) var(--font-family);

	--font-code-large: 500 var(--font-size-code-large)/var(--line-height-code-large) var(--font-family-code);
	--font-code-medium: 500 var(--font-size-code-medium)/var(--line-height-code-medium) var(--font-family-code);
	--font-code-small: 500 var(--font-size-code-small)/var(--line-height-code-small) var(--font-family-code);

	--font: var(--font-paragraph-medium);

	/* Letter spacing */
	--leter-spacing-display: -0.003em;

	/* Other */
	--hyphenate-limit: 7;

	/* Font feature settings */
	--font-variant-alternates-display: styleset(display);
}
:root * {
		font-variant-alternates: styleset(alternates);
	}
/*
 * @author tobias.wolf@wagnerwagner.de
 * We want the M with ss19 (styleset 19).
 * Therefore we define a "TT Norms M" in tt-norms.css with unicode range "U+004D" (uppercase M)
 * This results in a M rendered with ss19 and all other characters rendered without styleset.
 */
@font-feature-values 'TT Norms M' {
	@styleset {
		alternates: 19;
		display: 19;
	}
}
@font-feature-values 'TT Norms' {
	@styleset {
		display: 18;
	}
}
/* HELPER/DEBUG */
/** DEBUG */
body[data-show-grid] {
	--_color: hsla(0, 0%, 0%, 5%);
	--_grid-vertical: calc(4rem / 16);
	--_grid-gap: var(--gap-inline);
	--_grid-column: calc((var(--max-width) - var(--_grid-gap) * 11) / 12);

	background:
		center/calc(var(--_grid-column) + var(--_grid-gap)) 100%
		linear-gradient(90deg, var(--_color) calc(var(--_grid-column) * 0.5), transparent calc(var(--_grid-column) * 0.5), transparent calc(var(--_grid-column) * 0.5 + var(--_grid-gap)), var(--_color) calc(var(--_grid-column) * 0.5 + var(--_grid-gap))),
		top/100% calc(var(--_grid-vertical) * 2)
		linear-gradient(transparent var(--_grid-vertical), var(--_color) var(--_grid-vertical));
}
/* Atoms */
/* Typography */
.a-label {
	font: var(--font-label-medium);
}
.a-label[data-size="large"] {
		font: var(--font-label-large);
	}
.a-label[data-size="medium"] {
		font: var(--font-label-medium);
	}
.a-label[data-size="small"] {
		font: var(--font-label-small);
	}
.a-label[data-size="xsmall"] {
		font: var(--font-label-xsmall);
	}
.a-logo-header {
	padding-inline: calc(var(--gap-inline) - 1rem / 16);
	display: grid;
	align-items: center;
}
.a-button {
	display: flex;
	border: var(--border-size-small) solid var(--color-border-brand);
	text-decoration: none;
	font: var(--font-label-medium);
	padding-inline: var(--size-200);
	padding-block: var(--size-100);
}
.a-button[data-size="large"] {
		font: var(--font-label-large);
		padding-inline: var(--size-200);
		padding-block: var(--size-150);
	}
.a-button[data-kind="secondary"] {
		color: var(--color-content-secondary);
	}
.a-button[data-variant="text"] {
		border: 0;
		padding-inline: 0;
		background-color: transparent;
	}
.a-display {
	-webkit-margin-start: -0.02em;
	        margin-inline-start: -0.02em;
	font: var(--font-heading-xlarge);
	font-variant-alternates: var(--font-variant-alternates-display);
	text-wrap-style: balance;
}
.a-heading {
	font: var(--font-heading-medium);
	text-wrap-style: pretty;
}
.a-heading > a {
		display: inline-block;
		text-decoration-thickness: var(--border-size-small);
		-webkit-text-decoration-color: var(--color-border-primary);
		        text-decoration-color: var(--color-border-primary);
	}
h1.a-heading,
.a-heading[data-size="xxlarge"] {
	font: var(--font-heading-xxlarge);
}
h2.a-heading,
.a-heading[data-size="xlarge"] {
	font: var(--font-heading-xlarge);
}
h3.a-heading,
.a-heading[data-size="large"] {
	font: var(--font-heading-large);
}
h4.a-heading,
.a-heading[data-size="medium"] {
	font: var(--font-heading-medium);
}
h5.a-heading,
.a-heading[data-size="small"] {
	font: var(--font-heading-small);
}
h6.a-heading,
.a-heading[data-size="xsmall"] {
	font: var(--font-heading-xsmall);
}
.a-icon {
	display: inline-block;
	block-size: 1lh;
	aspect-ratio: 1;
	vertical-align: top;
}
.a-icon * {
		fill: currentcolor;
	}
.a-icon[data-color="brand"] {
		color: var(--color-brand);
	}
.a-nav-item-primary {
	display: grid;
	block-size: 100%;
	grid-template-rows: 1fr 0;
	align-items: center;
	padding-inline: var(--gap-inline);
	font: var(--font-label-medium);
	text-decoration: none;
}
.a-nav-item-primary::after {
		content: '';
		-webkit-margin-after: calc(var(--border-size-small) * -1);
		        margin-block-end: calc(var(--border-size-small) * -1);
		display: block;
		inline-size: 100%;
		block-size: var(--border-size-small);
		background-color: transparent;
	}
.a-nav-item-primary:where(button) {
		border: 0;
	}
.a-nav-item-primary[data-state="open"]::after {
			background-color: var(--color-gray-300);
		}
.a-nav-item-primary[data-variant="step"] {
		padding-inline: var(--size-400);
	}
.a-nav-item-sidebar {
	--_padding-inline: calc(var(--gap-inline) - var(--border-size-small));
	--_border-size: var(--border-size-small);

	text-decoration: none;
	display: grid;
	grid-template-columns: 0 1fr;
	-moz-column-gap: var(--_padding-inline);
	     column-gap: var(--_padding-inline);
	font: var(--font-label-medium);
	text-wrap-style: pretty;
	padding-block: var(--size-150);
	-webkit-padding-end: var(--_padding-inline);
	        padding-inline-end: var(--_padding-inline);
}
.a-nav-item-sidebar::before {
		content: '';
		grid-row: 1 / span 2;
		-webkit-margin-start: calc(var(--border-size-small) * -0.5 + var(--_border-size) * -0.5);
		        margin-inline-start: calc(var(--border-size-small) * -0.5 + var(--_border-size) * -0.5);
		display: block;
		inline-size: 100%;
		inline-size: var(--_border-size);
		background-color: transparent;
	}
.a-nav-item-sidebar > * {
		grid-column-start: 2;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
.a-nav-item-sidebar[data-variant="category"] {
		padding-block: var(--size-250);
		font-weight: 700;
	}
.a-nav-item-sidebar[data-variant="tertiary"] {
		padding-block: calc(var(--size-250) - var(--border-size-small) * 0.5);
	}
.a-nav-item-sidebar[data-variant="tertiary"] > small {
			-webkit-margin-before: var(--size-100);
			        margin-block-start: var(--size-100);
			font: var(--font-label-small);
			color: var(--color-content-secondary);
		}
.a-nav-item-sidebar[data-state="open"]::before {
			background-color: var(--color-border-brand);
		}
.a-separator {
  color: var(--color-content-tertiary);
}
/** a or code element */
.a-type {
	--_color-background: var(--color-background-tertiary);
	--_color-border: hsl(from var(--_color-background) h calc(s - 5) calc(l - 7));

	display: inline-flex;
	gap: var(--size-50);
	border-radius: var(--border-radius-small);
	padding-inline: var(--size-100);
	font: var(--font-code-small);
	border: var(--border-size-xsmall) solid var(--_color-border);
	border-radius: var(--border-radius-xsmall);
	background-color: var(--_color-background);
}
.a-type:where([data-type="class"], [data-type="object"]) {
		--_color-background: var(--color-green-200);
	}
.a-type:where([data-type="bool"]) {
		--_color-background: var(--color-purple-150);
	}
.a-type:where([data-type="null"]) {
		--_color-background: var(--color-purple-100);
	}
.a-type:where([data-type="int"]) {
		--_color-background: var(--color-orange-150);
	}
.a-type:where([data-type="float"], [data-type="number"]) {
		--_color-background: var(--color-red-150);
	}
.a-type:where([data-type="string"]) {
		--_color-background: var(--color-yellow-200);
	}
.a-type:where([data-type="array"], [data-type="callable"]) {
		--_color-background: var(--color-turquoise-150);
	}
.a-type:where(a) {
		text-decoration: none;
	}
.a-type:where(a):where(:focus-visible, :hover) {
			background-color: hsl(from var(--_color-background) h s calc(l - 3));
		}
.a-visually-hidden {
	-webkit-clip-path: inset(50%) !important;
	        clip-path: inset(50%) !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
	position: absolute !important;
	white-space: nowrap !important;
	border: 0 !important;
}
/* Molecules */
.m-callout {
	padding: var(--size-300);
	border-radius: var(--border-radius-small);
	border: var(--border-size-small) solid var(--color-blue-400);
	background-color: var(--color-blue-50);
}
.m-callout[data-theme="tip"] {
		border: var(--border-size-small) solid var(--color-green-400);
		background-color: var(--color-green-20);
	}
.m-callout[data-theme="important"] {
		border: var(--border-size-small) solid var(--color-purple-400);
		background-color: var(--color-purple-20);
	}
.m-callout[data-theme="warning"] {
		border: var(--border-size-small) solid var(--color-orange-400);
		background-color: var(--color-orange-20);
	}
.m-callout[data-theme="caution"] {
		border: var(--border-size-small) solid var(--color-red-400);
		background-color: var(--color-red-20);
	}
.m-text > .m-callout {
		margin-inline: calc(var(--border-size-small) * -0.5);
	}
.m-case {
	display: grid;
	grid-template-columns: 1fr 1fr;
	-moz-column-gap: var(--gap-inline);
	     column-gap: var(--gap-inline);
	box-sizing: border-box;
	-webkit-margin-before: var(--size-500);
	        margin-block-start: var(--size-500);
}
.m-case figure {
		position: relative;
		margin: 0;
		-webkit-padding-before: calc(70% + var(--size-200));
		        padding-block-start: calc(70% + var(--size-200));
		overflow: hidden;
	}
.m-case figure figcaption {
			position: absolute;
			z-index: 1;
			left: 0;
			right: 0;
			bottom: 0;
			box-sizing: border-box;
			padding-block: var(--size-100);
			padding-inline: var(--size-300);
			text-align: center;
			font: var(--font-code-medium);
			color: var(--color-content-secondary);
			background-color: var(--color-background-secondary);
			-webkit-border-before: var(--border-size-small) solid var(--color-border-secondary);
			        border-block-start: var(--border-size-small) solid var(--color-border-secondary);
			transition-duration: var(--duration-medium);
			transition-property: color;
		}
.m-case > div.-figure figure {
			padding-top: calc(70%);
		}
.m-case img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: auto;
		transform: translateY(0);
		transition-duration: var(--duration-large);
		transition-property: transform;
	}
.m-case > div.-figure,
	.m-case > a {
		display: block;
		width: 100%;
	}
:is(.m-case > div.-figure:hover,.m-case > a:focus,.m-case > a:hover) img {
			transform: translateY(-33.333%);
			transition-timing-function: ease-in-out;
		}
:is(.m-case > div.-figure:hover,.m-case > a:focus,.m-case > a:hover) figure figcaption {
				color: var(--color-content-primary);
			}
.m-case__copy {
	-webkit-padding-before: var(--size-700);
	        padding-block-start: var(--size-700);
	padding-inline: var(--size-1000);
}
.m-case__copy header small {
			font: var(--font-label-medium);
		}
.m-case__copy h2 a {
			text-decoration: none;
		}
.m-case__copy h2 a:focus,
			body:not(.is-touch) :is(.m-case__copy h2 a):hover {
				text-decoration: underline;
			}
/* Website is no longer available online. */
.m-case__copy > div > em {
		display: block;
		-webkit-margin-before: var(--size-500);
		        margin-block-start: var(--size-500);
	}
.m-case__copy h3 {
		-webkit-margin-before: var(--size-500);
		        margin-block-start: var(--size-500);
		font-size: inherit;
		display: inline-block;
		padding-inline: var(--size-100);
		color: var(--color-white);
		background-color: var(--color-brand);
	}
.m-case__copy ul,
	.m-case__copy p {
		-webkit-margin-before: 0;
		        margin-block-start: 0;
		margin-bottom: 0;
	}
.m-case__copy ul {
		-webkit-margin-before: var(--size-300);
		        margin-block-start: var(--size-300);
		padding-left: 0;
	}
.m-case__copy ul li {
			position: relative;
			padding-left: calc(16rem / 16);
			list-style: none;
		}
.m-case__copy ul li::before {
				content: '';
				position: absolute;
				left: 0;
				top: calc(10.5rem / 16);
				height: calc(2rem / 16);
				width: calc(8rem / 16);
				background-color: var(--color-content-secondary);
			}
:is(.m-case__copy ul li) + li {
				-webkit-margin-before: var(--size-100);
				        margin-block-start: var(--size-100);
			}
.m-case:where(:nth-child(2n)) .m-case__copy {
		order: 2;
	}
/* PrismJS 1.30.0
https://prismjs.com/download#themes=prism-dark&languages=markup+css+clike+javascript */
/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */
.m-code {
	color: var(--color-white);
	font: var(--font-code-medium);
	overflow: auto;
	border-radius: var(--border-radius-small);
	background-color: var(--color-background-primary-inverse);
}
.m-code:where(figure) {
		border: var(--border-size-small) solid var(--color-black);
	}
.m-code > figcaption {
		padding-block: var(--size-200);
		padding-inline: var(--size-400);
		color: var(--color-content-secondary-inverse);
		-webkit-border-after: var(--border-small-tertiary-inverse);
		        border-block-end: var(--border-small-tertiary-inverse);
	}
.m-code pre {
		padding: var(--size-400);
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		-moz-tab-size: 2;
		  -o-tab-size: 2;
		     tab-size: 2;
		-webkit-hyphens: none;
		        hyphens: none;
		font: inherit;
	}
.m-code code {
		font: inherit;
	}
/** @todo Improve colors similar to https://github.com/getkirby/getkirby.com/blob/e6352626f704531b9981f60ae69ea2a2c7b005e8/assets/css/site/code.css */
.m-code .token.class-name,
	.m-code .token.package,
	.m-code .token.scope {
		color: var(--color-green-400);
	}
.m-code .token.function {
		color: var(--color-blue-300);
	}
.m-code .token.comment,
	.m-code .token.prolog,
	.m-code .token.doctype,
	.m-code .token.cdata {
		color: var(--color-gray-300);
	}
.m-code .token.punctuation {
		color: var(--color-gray-150);
	}
.m-code .token.namespace {
		opacity: .7;
	}
.m-code .token.boolean,
	.m-code .token.atrule,
	.m-code .token.keyword {
		color: var(--color-purple-300);
	}
.m-code .token.attr-value {
		color: var(--color-green-400);
	}
.m-code .token.null {
		color: var(--color-purple-200);
	}
.m-code .token.property,
	.m-code .token.tag,
	.m-code .token.number,
	.m-code .token.constant,
	.m-code .token.symbol,
	.m-code .token.operator,
	.m-code .token.entity,
	.m-code .token.url,
	.m-code .language-css .token.string,
	.m-code .style .token.string,
	.m-code .token.variable,
	.m-code .token.key {
		color: var(--color-red-200);
	}
.m-code .token.deleted {
		color: var(--color-red-500);
	}
.m-code .token.selector,
	.m-code .token.attr-name,
	.m-code .token.string,
	.m-code .token.char,
	.m-code .token.builtin,
	.m-code .token.inserted {
		color: var(--color-yellow-400);
	}
.m-code .token.regex,
	.m-code .token.important {
		color: var(--color-orange-400);
	}
.m-code .token.bold {
		font-weight: bold;
	}
.m-code .token.italic {
		font-style: italic;
	}
.m-code .token.entity {
		cursor: help;
	}
.m-text > .m-code {
		margin-inline: calc(var(--border-size-small) * -0.5);
	}
.m-nav-main {
	display: flex;
}
.m-nav-main > ul {
		display: flex;
	}
.m-nav-main__steps li + li {
		display: flex;
		align-items: center;
	}
.m-nav-main__steps li + li:before {
			content: '›';
			color: var(--color-content-secondary);
		}
.m-nav-overview > ul {
		display: grid;
		gap: var(--gap-inline);
		grid-template-columns: repeat(auto-fill, minmax(calc(200rem / 16), 1fr));
	}
.m-nav-overview > ul > li > a {
		text-decoration: none;
		display: grid;
	}
.m-nav-overview > ul > li > a > strong {
			font: var(--font-label-large);
			text-decoration: underline;
			-webkit-text-decoration-color: inherit;
			        text-decoration-color: inherit;
		}
.m-nav-overview > ul > li > a > small {
			font: var(--font-paragraph-small);
			text-wrap-style: balance;
		}
nav.m-nav-sidebar {
	position: -webkit-sticky;
	position: sticky;
	inset-block-start: var(--height-header);
	-webkit-margin-start: calc(3rem / -16);
	        margin-inline-start: calc(3rem / -16);
	-webkit-padding-before: calc(var(--size-700) - var(--size-250));
	        padding-block-start: calc(var(--size-700) - var(--size-250));
	-webkit-padding-start: calc(3rem / 16);
	        padding-inline-start: calc(3rem / 16);
	max-block-size: calc(100vh - var(--height-header));
	-webkit-border-end: var(--border-size-small) solid var(--color-border-tertiary);
	        border-inline-end: var(--border-size-small) solid var(--color-border-tertiary);
	overflow: auto;
}
:is(nav.m-nav-sidebar > ul) > li + li {
      -webkit-margin-before: var(--size-400);
              margin-block-start: var(--size-400);
    }
:is(nav.m-nav-sidebar[data-variant="tertiary"] > ul) > li + li {
				-webkit-margin-before: 0;
				        margin-block-start: 0;
				-webkit-border-before: var(--border-small-tertiary);
				        border-block-start: var(--border-small-tertiary);
			}
.m-search-dialog {
	position: fixed;
	inset: 0;
	inset-block-start: var(--height-header);
	margin: 0;
	z-index: var(--z-index-dialog);
	width: auto;
	height: auto;
	-webkit-padding-before: calc(var(--gap-block) - var(--border-size-small) * 0.5);
	        padding-block-start: calc(var(--gap-block) - var(--border-size-small) * 0.5);
	background-color: hsl(from var(--color-gray-100) h s l / 0.9);
	/* background-color: transparent; */
	-webkit-backdrop-filter: blur(6px);
	        backdrop-filter: blur(6px);
	display: none;
}
.m-search-dialog > div {
		overflow: auto;
		max-block-size: 100%;
		-webkit-padding-after: var(--size-1000);
		        padding-block-end: var(--size-1000);
	}
.m-search-dialog:popover-open {
		display: block;
	}
.m-search {
	margin-inline: auto;
	max-inline-size: calc(422rem / 16);
	background-color: var(--color-background-primary);
}
.m-search > input {
		position: -webkit-sticky;
		position: sticky;
		inset-block-start: 0;
		z-index: 2;
		inline-size: 100%;
		padding-inline: var(--gap-inline);
		padding-block: calc(var(--size-200) - var(--border-size-small));
		background-color: var(--color-background-primary);
		border: var(--border-size-small) solid var(--color-border-primary);
	}
.m-search > input:focus-visible {
			outline: none;
		}
.m-search__info {
	padding-inline: var(--gap-inline);
	padding-block: calc(var(--size-400) - var(--border-size-small));
	font: var(--font-label-medium);
	color: var(--color-content-secondary);
}
.m-search__info:empty {
		padding-block: 0;
	}
.m-search__results {
	list-style: none;
}
.m-search__results > li {
		-webkit-margin-before: calc(var(--border-size-small) * -1);
		        margin-block-start: calc(var(--border-size-small) * -1);
	}
.m-search__results > li > a {
		display: grid;
		padding-block: var(--size-300);
		padding-inline: var(--gap-inline);
		text-decoration: none;
		border-inline: var(--border-size-small) solid var(--color-border-secondary);
		border-block: var(--border-size-small) solid var(--color-border-secondary);

	}
.m-search__results > li > a > small {
			block-size: 1lh;
			overflow: hidden;
			text-overflow: ellipsis;
			font: var(--font-label-small);
			color: var(--color-content-secondary);
		}
.m-search__results > li > a:where(:hover, :focus-visible), .m-search__results > li[aria-selected="true"] > a {
			position: relative;
			z-index: 1;
			border-color: var(--color-background-secondary-inverse);
			color: var(--color-content-primary-inverse);
			background-color: var(--color-background-secondary-inverse);
	}
:is(.m-search__results > li > a:where(:hover, :focus-visible),.m-search__results > li[aria-selected="true"] > a) > small {
				color: var(--color-content-secondary-inverse);
			}
.m-showcase-item > a {
	display: grid;
	row-gap: var(--size-150);
	text-decoration: none;
}
.m-showcase-item > a > strong {
		font: var(--font-label-large);
	}
.m-showcase-item > a > small {
		font: var(--font-label-small);
	}
.m-stack > * + * {
		-webkit-margin-before: var(--gap-block);
		        margin-block-start: var(--gap-block);
	}
.m-table {
	overflow: auto;
	background-color: var(--color-background-secondary);
	border: var(--border-xsmall-secondary);
	border-radius: var(--border-radius-small);
	font: var(--font-paragraph-medium);
	font-variant-numeric: tabular-nums;
}
.m-table > table {
		inline-size: 100%;
	}
.m-table > table td, .m-table > table th {
			padding-block: var(--size-200);
			padding-inline: var(--size-300);
			text-align: start;
		}
.m-table > table th {
			-webkit-border-after: var(--border-xsmall-secondary);
			        border-block-end: var(--border-xsmall-secondary);
		}
.m-table > table tr:not(:last-child) td {
			-webkit-border-after: var(--border-xsmall-secondary);
			        border-block-end: var(--border-xsmall-secondary);
		}
.o-reference > .m-text > .m-table {
	margin-inline: calc(var(--size-300) * -1);
}
.m-text {
	/* Caution: default size is large (not medium) */
	font: var(--font-paragraph-large);

	/* Child elements */
}
.m-text > h1 {
		font: var(--font-heading-large);
	}
.m-text > h2 {
		font: var(--font-heading-medium);
	}
.m-text > h3 {
		font: var(--font-heading-small);
	}
.m-text > h4 {
		font: var(--font-heading-xsmall);
	}
.m-text > :is(h2, h3, h4) {
		text-wrap-style: pretty;

		/* Anchor links */
	}
.m-text > :is(h2, h3, h4) > a[href^="#"] {
			display: inline-flex;
			align-items: baseline;
			text-decoration: none;
		}
.m-text > :is(h2, h3, h4) > a[href^="#"]::before {
				content: '#';
				display: block;
				-webkit-margin-start: -1.5ch;
				        margin-inline-start: -1.5ch;
				inline-size: 1.5ch;
				font-feature-settings: "c2sc";
				color: var(--color-content-tertiary);
				pointer-events: none;
				opacity: 0;
				transition-property: opacity;
				transition-duration: var(--duration-medium);
			}
.m-text > :is(h2, h3, h4) > a[href^="#"]:where(:focus-visible, :hover)::before {
					pointer-events: auto;
					opacity: 1;
					transition-delay: var(--duration-xsmall);
				}
.m-text > :where(ul, ol) {
		-webkit-padding-start: 2ch;
		        padding-inline-start: 2ch;
		text-wrap-style: pretty;
	}
.m-text > :where(ul, ol) ul {
			list-style-type: disc;
		}
.m-text > :where(ul, ol) > li :where(ul, ol) {
			-webkit-margin-before: calc(var(--gap-text-paragraph) * 0.5);
			        margin-block-start: calc(var(--gap-text-paragraph) * 0.5);
			-webkit-padding-start: 2ch;
			        padding-inline-start: 2ch;
		}
:is(.m-text > :where(ul, ol)) * + :where(ul, ol, li) {
			-webkit-margin-before: calc(var(--gap-text-paragraph) * 0.5);
			        margin-block-start: calc(var(--gap-text-paragraph) * 0.5);
		}
/* elements, that are not child of another molecule or atom */
:is(.m-text,.m-text *:not([class^="m-"], [class^="a-"])) a {
			-webkit-text-decoration-color: hsl(from var(--color-border-brand) h s l / 0.7);
			        text-decoration-color: hsl(from var(--color-border-brand) h s l / 0.7);
		}
/* Modifications */
.m-text[data-size="xlarge"] {
		font: var(--font-paragraph-xlarge);
		text-wrap-style: pretty;
	}
.m-text[data-size="large"] {
		font: var(--font-paragraph-large);
		text-wrap-style: pretty;
	}
.m-text[data-size="medium"] {
		font: var(--font-paragraph-medium);
	}
.m-text[data-size="small"] {
		font: var(--font-paragraph-small);
	}
.m-text[data-size="xsmall"] {
		font: var(--font-paragraph-xsmall);
	}
/* Stack */
.m-text > * + * {
		-webkit-margin-before: var(--gap-text-paragraph);
		        margin-block-start: var(--gap-text-paragraph);
	}
.m-text > :where([class^="m-"]) + *,
	.m-text > * + :where([class^="m-"]) {
		-webkit-margin-before: var(--size-600);
		        margin-block-start: var(--size-600);
	}
.m-text > * + :where(h2) {
		-webkit-margin-before: var(--size-800);
		        margin-block-start: var(--size-800);
	}
.m-text > * + :where(h3) {
		-webkit-margin-before: var(--size-700);
		        margin-block-start: var(--size-700);
	}
.m-text > * + :where(h4) {
		-webkit-margin-before: var(--size-600);
		        margin-block-start: var(--size-600);
	}
.a-display + .m-text {
	-webkit-margin-before: var(--gap-text-paragraph);
	        margin-block-start: var(--gap-text-paragraph);
}
.m-toc {
	--_padding-block: var(--size-100);
	--_padding-inline: var(--gap-inline);

	-webkit-margin-start: calc(var(--border-size-small) * -1);

	        margin-inline-start: calc(var(--border-size-small) * -1);
	padding-block: var(--gap-block-header);
	font: var(--font-label-medium);
}
.m-toc > h2 {
		padding-inline: var(--_padding-inline);
		-webkit-padding-after: var(--_padding-block);
		        padding-block-end: var(--_padding-block);
		font-size: inherit;
		font-weight: 700;
	}
.m-toc > ol {
		list-style: none;
	}
.m-toc__link {
	display: block;
	padding-block: var(--_padding-block);
	padding-inline: var(--_padding-inline);
	color: var(--color-content-secondary);
	text-decoration: none;
	text-wrap-style: pretty;
}
.m-toc__link[aria-current="true"] {
		color: var(--color-content-primary);
	}
/* Organisms */
.o-article {
	align-self: center;
	/* margin-block-start: 20px; */
	max-width: var(--max-width-content);
	padding-inline: var(--gap-inline);
}
.o-cases {
	z-index: var(--z-index-main-wrapper);
	inline-size: 100%;
	padding-inline: var(--gap-inline);
	-webkit-border-after: var(--border-small-tertiary);
	        border-block-end: var(--border-small-tertiary);
	background: inherit;
}
.o-cases__box {
	max-inline-size: calc(var(--max-width-content) + var(--border-size-small));
	margin-inline: auto;
	border-inline: var(--border-size-small) solid var(--color-border-tertiary);
	-webkit-border-after: var(--border-size-small) solid var(--color-border-tertiary);
	        border-block-end: var(--border-size-small) solid var(--color-border-tertiary);
}
.o-cases__title {
	padding-block: calc(var(--gap-inline) * 3);
	padding-inline: var(--size-1000);
}
.o-cases__grid {
	display: grid;
	row-gap: var(--size-800);
}
.o-checkout {
	z-index: var(--z-index-main-wrapper);
	inline-size: 100%;
	padding-inline: var(--gap-inline);
	-webkit-border-after: var(--border-small-tertiary);
	        border-block-end: var(--border-small-tertiary);
	background: inherit;
}
.o-checkout__box {
	max-inline-size: var(--max-width-content);
	margin-inline: auto;
	padding-inline: var(--gap-inline);
}
.o-features {
	max-inline-size: calc(var(--max-width-content) + var(--border-size-small));
	margin-inline: auto;
	border-inline: var(--border-size-small) solid var(--color-border-tertiary);
	padding-block: var(--size-800);
	padding-inline: calc(var(--size-1000) - var(--border-size-small));
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	-moz-column-gap: calc(var(--gap-inline) * 3 - var(--border-size-small));
	     column-gap: calc(var(--gap-inline) * 3 - var(--border-size-small));
	row-gap: calc(var(--gap-inline) * 2);
	-webkit-border-after: var(--border-size-small) solid var(--color-border-tertiary);
	        border-block-end: var(--border-size-small) solid var(--color-border-tertiary);
}
.o-features__item {
	display: grid;
	row-gap: var(--size-200);
}
.o-footer {
	position: -webkit-sticky;
	position: sticky;
	bottom: 0;
	-webkit-margin-before: auto;
	        margin-block-start: auto;
	-webkit-padding-before: var(--size-800);
	        padding-block-start: var(--size-800);
	-webkit-padding-after: var(--size-700);
	        padding-block-end: var(--size-700);
	background: inherit;
	background-color: var(--color-gray-100);
}
.o-footer > div {
		max-inline-size: var(--max-width-content);
		margin-inline: auto;
		padding-inline: var(--gap-inline);
		display: grid;
		grid-template-columns: 1fr auto;
		-moz-column-gap: var(--gap-inline);
		     column-gap: var(--gap-inline);
	}
.o-footer__info {
	align-self: end;
	text-wrap-style: balance;
	font: var(--font-paragraph-medium);
	max-inline-size: 40ch;
	-webkit-padding-after: calc(4rem / 16);
	        padding-block-end: calc(4rem / 16);
}
.o-footer__logo-link {
	-webkit-margin-before: -0.1em;
	        margin-block-start: -0.1em;
	display: inline-block;
	vertical-align: middle;
}
.o-footer__logo-link > img {
		inline-size: auto;
		block-size: calc(18rem / 16);
	}
.o-footer__nav {
	font: var(--font-label-medium);
}
.o-footer__nav > ul {
		display: grid;
		grid-template-columns: 220px 220px;
		-moz-column-gap: var(--gap-inline);
		     column-gap: var(--gap-inline);
	}
.o-footer__nav strong, .o-footer__nav a {
		display: block;
		padding-block: calc(2rem / 16);
	}
.o-footer__nav a {
		text-decoration: none;
	}
.o-footer__nav a > small {
			-webkit-margin-start: -0.1em;
			        margin-inline-start: -0.1em;
			font-size: inherit;
			color: var(--color-content-secondary);
		}
.o-header {
	z-index: var(--z-index-header);
	position: -webkit-sticky;
	position: sticky;
	inset-block-start: 0;
	block-size: var(--height-header);
	-webkit-border-after: var(--border-size-small) solid var(--color-border-tertiary);
	        border-block-end: var(--border-size-small) solid var(--color-border-tertiary);
	padding-inline: var(--gap-inline);
	background: inherit;
}
.o-header__center {
	block-size: 100%;
	max-inline-size: calc(var(--max-width-content) + var(--border-size-small));
	margin-inline: auto;
	border-inline: var(--border-size-small) solid var(--color-border-tertiary);
	display: grid;
	grid-template-columns: 1fr auto auto;
	justify-items: start;
}
.o-home {
	z-index: var(--z-index-main-wrapper);
	inline-size: 100%;
	padding-inline: var(--gap-inline);
	-webkit-border-after: var(--border-small-tertiary);
	        border-block-end: var(--border-small-tertiary);
	background: inherit;
}
.o-hero {
	max-inline-size: calc(var(--max-width-content) + var(--border-size-small));
	margin-inline: auto;
	border-inline: var(--border-size-small) solid var(--color-border-tertiary);
	-webkit-border-after: var(--border-size-small) solid var(--color-border-tertiary);
	        border-block-end: var(--border-size-small) solid var(--color-border-tertiary);
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.o-hero__copy {
	padding-block: var(--size-900);
	-webkit-padding-start: calc(var(--size-1000) - var(--border-size-small));
	        padding-inline-start: calc(var(--size-1000) - var(--border-size-small));
	-webkit-padding-end: calc(var(--size-400) - var(--border-size-small));
	        padding-inline-end: calc(var(--size-400) - var(--border-size-small));
	display: grid;
	row-gap: var(--size-600);
	align-items: start;
	align-content: start;
}
.o-hero__buttons {
	display: flex;
	-moz-column-gap: var(--size-500);
	     column-gap: var(--size-500);
}
.o-hero__buttons > div {
		display: grid;
		justify-items: start;
		row-gap: var(--size-100);
	}
.o-hero__image > a {
		display: block;
	}
.o-hero__image > a > img {
		inline-size: 100%;
	}
.o-main-wrapper {
	z-index: var(--z-index-main-wrapper);
	inline-size: 100%;
	padding-inline: var(--gap-inline);
	-webkit-border-after: var(--border-small-tertiary);
	        border-block-end: var(--border-small-tertiary);
	background: inherit;
}
.o-main-wrapper > div {
		max-inline-size: calc(var(--max-width-content) + var(--border-size-small));
		margin-inline: auto;
		border-inline: var(--border-size-small) solid var(--color-border-tertiary);
		display: grid;
		grid-template-columns:
			calc(260rem / 16)
			1fr;

	}
.o-main-wrapper[data-layout="ref"] > div {
			grid-template-columns:
				calc(280rem / 16)
				calc(280rem / 16)
				1fr;
		}
.o-main {
	--_gap-inline-text: calc(var(--gap-inline) * 2);

	display: grid;
	grid-template-rows:
		auto
		1fr
	;
	grid-template-columns:
		var(--_gap-inline-text)
		minmax(0, 1fr)
		var(--_gap-inline-text)
		var(--border-size-small)
		calc(260rem / 16 - var(--border-size-small))
	;
	align-items: start;
	align-content: start;
	min-block-size: 100%;
}
.o-main > * {
		margin-inline: auto;
		max-inline-size: var(--max-width-text);
		inline-size: 100%;
		grid-column: 2 / 3;
	}
.o-main__header {
	-webkit-padding-before: var(--gap-block-header);
	        padding-block-start: var(--gap-block-header);
}
.o-main__dashed-line {
	--_dash: calc(8rem / 16);
	--_gap: calc(12rem / 16);

	grid-column: 4 / 5;
	grid-row: 1 / -1;
	position: -webkit-sticky;
	position: sticky;
	inset-block-start: var(--height-header);
	max-block-size: calc(100vh - var(--height-header));
	inline-size: var(--border-size-small);
	background-image: linear-gradient(to bottom, var(--color-border-tertiary), var(--color-border-tertiary) var(--_dash), transparent var(--_dash), transparent);
	background-size: 100% calc(var(--_dash) + var(--_gap));
	background-repeat: repeat-y;
	background-position: center calc(var(--_dash) * -0.5 - var(--border-size-small) * 0.5);
	align-self: stretch;
}
.o-main__toc {
	grid-column: -2 / -1;
	grid-row: 1 / 4;
	position: -webkit-sticky;
	position: sticky;
	inset-block-start: var(--height-header);
	align-self: start;
	margin-inline: 0;
}
.o-main__text {
	-webkit-margin-before: var(--size-700);
	        margin-block-start: var(--size-700);
	-webkit-padding-after: max(var(--gap-block-header), 50vh);
	        padding-block-end: max(var(--gap-block-header), 50vh); /* @todo remove 50vh */
}
.o-reference {
	max-inline-size: calc(var(--max-width-text) + var(--gap-inline) * 2);
	inline-size: 100%;
	margin-inline: auto;
	padding-block: var(--gap-block-header);
	padding-inline: var(--gap-inline);
}
.o-reference > * + * {
		-webkit-margin-before: var(--size-700);
		        margin-block-start: var(--size-700);
	}
.o-showcase-home {
	max-inline-size: calc(var(--max-width-content) + var(--border-size-small));
	margin-inline: auto;
	border-inline: var(--border-size-small) solid var(--color-border-tertiary);
	padding-block: var(--size-800);
	padding-inline: calc(var(--size-1000) - var(--border-size-small));
	display: grid;
	row-gap: var(--size-400);
}
.o-showcase-home > ul {
		-webkit-margin-before: var(--size-200);
		        margin-block-start: var(--size-200);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		list-style: none;
		-moz-column-gap: calc(var(--gap-inline) * 3 - var(--border-size-small));
		     column-gap: calc(var(--gap-inline) * 3 - var(--border-size-small));
	}
/* Templates */
:root {
	font-family: var(--font-family);
	scroll-padding-block-start: calc(var(--height-header) + var(--gap-block-header));
	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-after: var(--hyphenate-limit);
	-webkit-hyphenate-limit-before: var(--hyphenate-limit);
}
@supports (hyphenate-limit-chars: 16 8 8) {
		:root :root {
			-webkit-hyphens: auto;
			        hyphens: auto;
			hyphenate-limit-chars: calc(var(--hyphenate-limit) * 2) var(--hyphenate-limit) var(--hyphenate-limit)
		}
	}
:root[data-no-scroll],
:root:has(:popover-open),[data-no-scroll]
:root :scope {
	overflow: hidden;
	block-size: 100%;
}
body {
	font: var(--font-paragraph-medium);
	color: var(--color-content-primary);
	display: grid;
	grid-template-rows: auto minmax(calc(100vh - var(--height-header)), 1fr);
	background-color: var(--color-background-primary);
	background-image: url('/assets/images/grid.png');
	background-repeat: repeat;
	background-position: center -1px;
	background-attachment: fixed;
}
body > * {
		inline-size: 100%;
	}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
body {
		background-image: url('/assets/images/grid@2x.png');
		background-size: calc(20rem / 16);
}
	}
code {
	font-family: var(--font-family-code);
}

/*# sourceMappingURL=index.css.map */