@font-face{
  font-family: 'New Century Schoolbook W02';
  src: url('../fonts/377dd833-912f-4a2b-a59e-b56a691e1113.eot?#iefix');
  src: url('../fonts/377dd833-912f-4a2b-a59e-b56a691e1113.eot?#iefix') format('eot'), url('../fonts/534e3b7b-6283-4a6c-9405-0d721771f8cb.woff2') format('woff2'), url('../fonts/387bb03e-c632-48c7-b73b-ab313d9d9c0f.woff') format('woff'), url('../fonts/acf66595-7a54-4cf3-b93f-3fb0b66444f1.ttf') format('truetype'), url('../fonts/d620677d-c9e6-41e4-887a-ad32e5453fb9.svg#d620677d-c9e6-41e4-887a-ad32e5453fb9') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'New Century Schoolbook W02';
  src: url('../fonts/5df95bb0-4e20-43c3-bb52-9f45fa100b6d.eot?#iefix');
  src: url('../fonts/5df95bb0-4e20-43c3-bb52-9f45fa100b6d.eot?#iefix') format('eot'), url('../fonts/ac3ccc1c-9363-4a62-b421-45209fc8ba45.woff2') format('woff2'), url('../fonts/4419bf56-5988-4c8a-8281-3e0b55af0e41.woff') format('woff'), url('../fonts/93578086-6083-4925-8579-a36bdf0ec394.ttf') format('truetype'), url('../fonts/c447d045-6bd4-4260-a82f-2250f019b36d.svg#c447d045-6bd4-4260-a82f-2250f019b36d') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: 'New Century Schoolbook W02';
  src: url('../fonts/f4cfc4eb-f073-49ab-bca4-519ed0536f27.eot?#iefix');
  src: url('../fonts/f4cfc4eb-f073-49ab-bca4-519ed0536f27.eot?#iefix') format('eot'), url('../fonts/36b64d1a-6a0f-4499-9ded-27d72a229683.woff2') format('woff2'), url('../fonts/525fe183-fdf3-4b78-873e-d3a4adddc828.woff') format('woff'), url('../fonts/19199caa-fd35-4f81-a21a-9956683b5c2d.ttf') format('truetype'), url('../fonts/8834287a-fc39-4155-9fa1-9326c888500c.svg#8834287a-fc39-4155-9fa1-9326c888500c') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'Century Schoolbook W01';
  src: url('../fonts/b9e66030-805a-4a8c-b9b8-318d697094b4.eot?#iefix');
  src: url('../fonts/b9e66030-805a-4a8c-b9b8-318d697094b4.eot?#iefix') format('eot'), url('../fonts/4b33e167-558a-4596-9a6b-ecff8b651d62.woff2') format('woff2'), url('../fonts/25b87865-a7cc-458b-84fb-f6b963f30929.woff') format('woff'), url('../fonts/0c8c5f42-b950-4cdc-9cfa-dabf7f045bb0.ttf') format('truetype'), url('../fonts/7845c29b-39ef-4fcd-b088-fa4a6d4eacb4.svg#7845c29b-39ef-4fcd-b088-fa4a6d4eacb4') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Century Schoolbook W01';
  src: url('../fonts/c1d89d34-d46d-4372-b23c-baa2bda4f11f.eot?#iefix');
  src: url('../fonts/c1d89d34-d46d-4372-b23c-baa2bda4f11f.eot?#iefix') format('eot'), url('../fonts/d44b6f2f-a71d-4644-96dd-fa2b761eb51f.woff2') format('woff2'), url('../fonts/3a5683f2-010a-44ba-b76d-a5f5ca42ec85.woff') format('woff'), url('../fonts/7ec00b66-ec9e-467d-9bee-4fd50c9a3f0f.ttf') format('truetype'), url('../fonts/01770a29-58ff-455c-a548-6322debd15e6.svg#01770a29-58ff-455c-a548-6322debd15e6') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: 'Century Schoolbook W01';
  src: url('../fonts/ba87bf1d-7c52-45c8-bafd-42bc9eff8c21.eot?#iefix');
  src: url('../fonts/ba87bf1d-7c52-45c8-bafd-42bc9eff8c21.eot?#iefix') format('eot'), url('../fonts/7268b86a-ac01-4b8e-8c3c-fc95778a0476.woff2') format('woff2'), url('../fonts/4f1347e2-f89c-459b-9898-b474ae3a6a97.woff') format('woff'), url('../fonts/c22d501f-42da-4de0-982f-7766cdc7353b.ttf') format('truetype'), url('../fonts/c14e0721-9186-4e55-b3a0-d5f3169fd625.svg#c14e0721-9186-4e55-b3a0-d5f3169fd625') format('svg');
  font-weight: 700;
  font-style: normal;
}
