$_color--blue: lighten(desaturate(#1BADF8, 10%), 10%);
$_color--green: lighten(desaturate(#63DA38, 10%), 10%);
$_color--red: lighten(desaturate(#FF3B30, 10%), 10%);
$_color--yellow: lighten(desaturate(#FFCC00, 10%), 10%);


.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: $color--lightgray;
}

.token.punctuation {
	color: $color--lightgray;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: $_color--yellow;
}

.token.boolean,
.token.number {
	color: $_color--green;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: $_color--green;
}

.token.operator {
	color: $color--lightgray;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: $_color--blue;
}

.token.keyword,
.token.atrule,
.token.attr-value,
.token.function {
	color: $_color--yellow;
}

.token.class-name,
.token.regex,
.token.important {
	color: $_color--red;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

@media screen and (-ms-high-contrast: active) {
	code[class*="language-"],
	pre[class*="language-"] {
		color: windowText;
		background: window;
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: window;
	}

	.token.important {
		background: highlight;
		color: window;
		font-weight: normal;
	}

	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.selector {
		font-weight: bold;
	}

	.token.attr-value,
	.token.comment,
	.token.doctype,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.property,
	.token.string {
		color: highlight;
	}

	.token.attr-value,
	.token.url {
		font-weight: normal;
	}
}
